@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
:root {
  --bg-color: #11142e;
  --text-color: #fff;
  --btn-color: #135be8;
  --nav-bg-color: #11142e;
  --main-font: "Roboto", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

body,
a,
button {
  font-family: var(--main-font);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* colors */
.blue-cl {
  color: var(--btn-color) !important;
}

a,
li,
footer .logo {
  color: var(--text-color);
}

.navbar-sec {
  background-color: var(--nav-bg-color);
}

.logout {
  cursor: pointer;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.logout:hover {
  color: var(--btn-color);
}

.home button {
  color: var(--btn-color);
  vertical-align: middle;
}

.home button i {
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.home button:hover i {
  transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
}

.movie {
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.movie:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.movie:hover img {
  border-radius: 8px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.genres span {
  border-color: var(--btn-color) !important;
  font-size: 0.9rem;
}